spring:
  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  liquibase:
    change-log:  #поставить classpath:db.changelog/db.changelog-master.xml
  datasource:
    url: #url TODO
    username: #username
    password: #password
    hikari:
      minimum-idle: 5
      maximum-pool-size: 20
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
logging:
  config: #мб уйдет в стартер