server:
  port: @port@
spring:
  application:
    name: AUTH-SERVICE
  datasource:
    driver-class-name: org.postgresql.Driver
  profiles:
    active: @activeProfiles@
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/